{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Priorities</title>
</head>
<body>
<div>This will delete all current priorities and reset them to the default priorities.</div>
<div style="font-weight: bold;">Are you sure you want to proceed?</div>
<form action="{% url 'reset_priorities' %}" method="post">
    {% csrf_token %}
    <label class="container">Yes
      <input type="radio" name="confirm" value="yes" checked="checked">
      <span class="radio"></span>
    </label>

    <label class="container">No
      <input type="radio" name="confirm" value="no">
      <span class="radio"></span>
    </label>
    <div><input type="submit"/></div>
</form>
</body>
</html>